//- Google Api keyCode
-var apiKey = 'AIzaSyD66DsCaW25KKSywaff7P9cOtfV0IwJF7Q'

script(src=path_js + "vendor.min.js", charset="UTF-8")
script(src=path_js + "plugins/plugins.min.js", charset="UTF-8")
script(src=path_js + "components/components.js", charset="UTF-8")
script(src=path_js + "core.js", charset="UTF-8")
script(async, defer src="https://maps.googleapis.com/maps/api/js?key=" + apiKey)
