//- Document Head
extends config/base

//- Blok w którym możemy nadpisywać tagi z Heada
block page_title
	title= "Transport międzynarodowy | Bałtex"

//- Blok który zatrzymuje wyświetlanie linku do Strony głownej, kiedy się na niej znajdujemy
block link_to_home_page_disabled
	

block page_content
	div.sr-only
		svg(style='display: none;', xmlns='http://www.w3.org/2000/svg')
			symbol#blueberries(viewbox='0 0 53.308 53.308')
				title
					| Blue
				path(d='M39.685,2.953c-7.524,0-13.623,6.099-13.623,13.623c0,2.243,0.552,4.353,1.512,6.219 c1.496-0.565,3.11-0.888,4.804-0.888c5.281,0,9.851,3.011,12.111,7.404c5.15-1.944,8.819-6.905,8.819-12.735 C53.308,9.052,47.208,2.953,39.685,2.953z', style='fill:#003879;')
	section.section.section--ghost
		.component.main-slider(data-items="1", data-arrows="false", data-dots="true")
			.item.main-slider__item(data-background="" + path_image + "slider-01.jpg", data-background-mobile="" + path_image + "slider-01.jpg",, data-thumb="Transport międzynarodowy")
				.main-slider__inner
					.container
						.row
							.col-xs-12
								+main-slider-title(
									'Posiadamy ponad 12 letnie doświadczenie w&nbsp;branży spedycyjnej',
									'transport-miedzynarodowy',
									'Czytaj więcej o spedycji'
								)
			.item(data-background="" + path_image + "slider-02.jpg", data-background-mobile="" + path_image + "slider-02.jpg", data-thumb="Magazyn czasowego składowania").main-slider__item.main-slider__item--overlayed
				.main-slider__inner
					.container
						.row
							.col-xs-12
								+main-slider-title(
									'Cechuje nas&nbsp;doskonała znajomość problematyki celnej',
									'magazyn-czasowego-skladowania',
									'Sprawdź, jak działa nasz magazyn'
								)
			.item(data-background="" + path_image + "slider-03.jpg", data-background-mobile="" + path_image + "slider-03.jpg", data-thumb="Sprzedaż suchej tarcicy dąb-sosna").main-slider__item.main-slider__item--overlayed
				.main-slider__inner
					.container
						.row
							.col-xs-12
								+main-slider-title(
									'Tarcica pochodzi wyłącznie z&nbsp;własnego przetarcia na&nbsp;nowoczesnych trakach',
									'sprzedaz-suchej-tarcicy-dab-sosna',
									'Przeczytaj o naszej usłudze'
								)
	section.section
		.container
			.row
				.col-xs-12
					+section-header(
						'<strong>Firma Bałtex</strong> - dowiedź się więcej o Naszej działalności',
						'Prowadzimy swoją działalność od roku 1994. Pierwszą branżą był transport międzynarodowy. Z czasem firma ewoluowała i zaczęłą również inwestować w magazyn czasowego składowania. Od niedawna zajmujemy się również sprzedażą suchej tarcicy dąb - sosna.'
					)
			.row
				.col-xs-12
					.component.ct-js-slick.slick--centered(data-dots="true", data-centerMode="true", data-centerPadding="30px", data-LGitems="3", data-MDitems="2", data-SMitems="2", data-XSitems="1", data-autoplaySpeed="7000", data-speed="1000", data-arrows="false", data-initialSlide="1", data-autoplay="true")
						.item
							.info-box
								.info-box__inner
									.info-box__image
										img(src="" + path_image + "company-profile.jpg")
									.info-box__content
										h5.info-box__title Profil firmy
										p.info-box__description Firma #[code Bałtex] prowadzi swoją działalność od roku 1994. Pierwszą branżą był transport międzynarodowy. Z czasem firma ewoluowała i zaczęłą również inwestować w magazyn czasowego składowania. Od niedawna zajmujemy się również sprzedażą suchej tarcicy dąb - sosna.
										.info-box__link
											a(href="#", title="").btn.btn-lg.btn-transparent Więcej o firmie
						.item
							.info-box
								.info-box__inner
									.info-box__image
										img(src="" + path_image + "company-services.jpg")
									.info-box__content
										h5.info-box__title Nasze usługi
										p.info-box__description Prosperujemy na niżej wymienionych rynkach:
										.info-box__link
											a(href="#", title="").btn.btn-lg.btn-transparent Więcej o usługach
						.item
							.info-box
								.info-box__inner
									.info-box__image
										img(src="" + path_image + "company-contact.jpg")
									.info-box__content
										h5.info-box__title Informacje kontaktowe
										p.info-box__description Siedziba Naszej firmy znajduje się w powiecie Lipskim w województwie mazowieckim. #[code Dokładny adres] znajdziesz na Naszej stronie kontaktowej. Znajdziesz tam numer telefonu, adres mailowy oraz formularz kontaktowy.
										.info-box__link
											a(href="#", title="").btn.btn-lg.btn-transparent Sprawdź informacje kontaktowe
						.item
							.info-box
								.info-box__inner
									.info-box__image
										img(src="" + path_image + "company-share.jpg")
									.info-box__content
										h5.info-box__title Udostępnij stronę
										p.info-box__description Jeśli uważasz, że Nasza firma jest warta polecenia, możesz to zrobić korzystając z Facebooka, Twittera lub Google Plus. 
	section.section.section--gray
		.container
			.row
				.col-xs-12
					+section-header(
						'<strong>Firma Bałtex</strong> - sprawdź co wyróżnia Nas spośród innych',
						'Morbi imperdiet laoreet mi, vel porta lacus fermentum nec. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam posuere sed lorem eget vehicula. Morbi vestibulum pretium mauris ac vulputate.'
					)
			.row
				.col-sm-4
					.component.image-box
						.image-box__image
							img(src="" + path_image + "trucking.png")
						.image-box__inner
							h6.image-box__title Sprawdzone samochody
							p.image-box__description Morbi imperdiet laoreet mi, vel porta lacus fermentum nec. Nulla facilisi.
				.col-sm-4
					.component.image-box
						.image-box__image
							img(src="" + path_image + "packing.png")
						.image-box__inner
							h6.image-box__title Bezpieczne magazyny
							p.image-box__description Morbi imperdiet laoreet mi, vel porta lacus fermentum nec. Nulla facilisi.
				.col-sm-4
					.component.image-box
						.image-box__image
							img(src="" + path_image + "crate.png")
						.image-box__inner
							h6.image-box__title Sprzedaż na wysokim poziomie
							p.image-box__description Morbi imperdiet laoreet mi, vel porta lacus fermentum nec. Nulla facilisi.
	section.section.section--motive
		.container
			.row
				.col-xs-12
					include includes/cta-box
