//- Document Head
extends config/base
block page_title
	title= "Kontakt | Bałtex"
block page_content
	+page-header(
		'Kontakt',
		'Jesteśmy do Twojej dyspozycji </br> od poniedziałku do soboty.',
		'kontakt-header-background.jpg'
	)
	section.section
		.container
			.row
				.col-md-5.push-md-7
					include includes/addres-box
				.col-md-7.pull-md-5
					p Feel free to talk to our online representative at any time you please using our Live Chat system on our website or one of the below instant messaging programs.
					p Please be patient while waiting for response. (24/7 Support!) #[strong Phone General Inquiries: 1-888-123-4567-8900]
					h5.heading--bordered Formularz #[strong kontaktowy]
						a(href="#", title="Pokaż więcej informacji").dialog-helper: i(class="fa fa-question" aria-hidden="true")
					form.component.form.js-form.validateIt
						.form-inner
							.form-row
								.form-group
									label(for="inlineFormName", class="form-label") Imię (opcjonalnie nazwisko)
									.form-control-wrapper
										input(type="text", id="inlineFormName", class="form-control", name="field[Name]", required)
								.form-group
									label(for="inlineFormEmail", class="form-label") E-mail
									.form-control-wrapper
										input(type="email", id="inlineFormEmail", class="form-control", name="field[Email]", required)
							.form-row
								.form-group.form-group--wide
									label(for="inlineFormSubject", class="form-label") Temat wiadomości
									.form-control-wrapper
										select(id="inlineFormSubject", class="select js-select form-control", name="field[Subject]")
											option(value="Zapytanie o innym temacie") Zapytanie o innym temacie
											option(value="Transport międzynarodowy") Transport międzynarodowy
											option(value="Magazyn czasowego składowania") Magazyn czasowego składowania
											option(value="Sucha tarcica dąb - sosna") Sucha tarcica dąb - sosna
							.form-row
								.form-group.form-group--wide
									label(for="inlineFormMessage", class="form-label") Treść wiadomości
									.form-control-wrapper
										textarea(id="inlineFormMessage", class="form-control js-textarea", name="field[Message]", required)
										div.textarea-signs
											span.textarea-signs-text Pozostała liczba znaków:&nbsp;
											span.textarea-signs-count(data-max-signs="350") #[code 350]
							.form-row
								.form-group
									button(type="submit", class="btn btn-second btn-lg") Wyślij wiadomość
	section.section.section--motive
		.container
			.row
				.col-xs-12
					include includes/cta-box
	#dialog-helper(title="Informacje pomocnicze")
		p.small 
			| Formularz kontaktowy ma charakter wyłącznie informacyjny. Za jego pośrednictwem nie przyjmujemy żadnych dyspozycji związanych z posiadanymi przez Ciebie produktami bankowymi. Prosimy nie podawać w treści wiadomości takich danych, jak: hasła, dane osobowe, numery kart płatniczych, PIN-y, kody CVV2.
			#[br]
			strong Dołożymy wszelkich starań, aby odpowiedzieć w ciągu 3 godzin. W wyjątkowych przypadkach, maksymalny czas odpowiedzi może wynieść do 18 godzin.