//- Document Head
extends config/base
block page_title
	title= "Kontakt | Bałtex"
block page_content
	+page-header(
		'Kontakt',
		'Skontakuj się z nami. </br> Jesteśmy do Twojej dyspozycji od poniedziałku do soboty.'
	)
