//- Document Head
extends config/base
block page_title
	title= "Kontakt | Bałtex"
block page_content
	+page-header(
		'Kontakt',
		'Jesteśmy do Twojej dyspozycji </br> od poniedziałku do soboty.',
		'kontakt-header-background.jpg'
	)
