.info-box {
	$root: &;
	padding: 0 10px;
	@include media-breakpoint-down(sm) {
		padding: 0 5px;
	}
	&__inner {
		@include transition;
		position: relative;
		border: 1px solid $gray-lighter;
		cursor: pointer;
		border-radius: $border-radius;
		&:hover {
			background-color: $gray-lighten;
			#{$root}__link {
				> a {
					color: #fff;
					background-color: $brand-primary;
				}
			}
		}
	}
	&__image {
		border-bottom: 1px solid $gray-lighter;
	}
	&__content {
		padding: $spacer-sm;
	}
	&__title {
		font-weight: 300;
		padding-bottom: $spacer-sm;
		border-bottom: 1px solid $brand-second;
	}
	&__description {
		font-weight: 300;
		text-align: justify;
	}
	&__link {
		padding-top: $spacer-sm;
	}
}
