.list--arrowed {
	padding-left: $spacer-xs;
	font-size: $font-size-lg;
	a {
		display: inline-block;
		padding: $spacer-xs/2 0;
		&:hover {
			i {
				color: $brand-second;
			}
		}
	}
	i {
		padding-right: $spacer-xs;
		opacity: .8;
	}
	span {

	}
}

.list--icon {
	@include clearfix;
	margin-bottom: 0;
	li {
		float: left;
		font-size: $font-size-lg;
		padding: $spacer-sm $spacer-xs;
		color: $brand-primary-light;
		&:first-child {
			padding-left: 0;
		}
	}
	a {
		font-size: inherit;
		color: inherit;
	}
	a {
		&:hover {
			color: $brand-primary;
			span {
				&:after {
					background-color: $gray;
				}
			}
		}
	}
	span {
		position: relative;
		&:after {
			@include transition;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -2px;
			height: 1px;
			background-color: $gray-lighter;
		}
	}
	i {
		padding-right: $spacer-xs;
	}
}

.list-header {
	margin-top: $spacer-md;
	&__item {
		position: relative;
		font-weight: 300;
		&:not(&--header) {
			padding: $spacer-xs $spacer-sm;
		}
		&:before {
			content: "\f00c";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit; /*--adjust as necessary--*/
		 	color: $brand-primary;
			font-size: 14px;
			position: absolute;
			top: 3px;
			left: 0;
		}
		&--header {
			@extend code;
			display: inline;
			&:before {
				display: none;
			}
		}
	}
}
