.nav-bar {
	display: block;
	background-color: $brand-primary;
	border-bottom: 3px solid $brand-second;
	@include media-breakpoint-down(sm) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 19;
	}
	&__source {
		@include transition;
		position: relative;
		padding: $spacer 0;
		border-radius: $border-radius;
		&--active {
			border-bottom: 0;
		}
		@include media-breakpoint-down(sm) {
			padding: $spacer-sm 0;
		}
	}
	&__title,
	&__subtitle {
		color: #fff;
		margin: 0;
		font-weight: 300;
	}
	&__subtitle {
		font-family: $font-family-sans-serif;
		font-size: 1.6rem;
		padding-top: $spacer-xs;
		margin-left: -$spacer-xs;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	&__sneakpeak {
		@include text-decoration;
		color: $gray;
	    padding: .5rem 1rem 1rem;
		border-right: 1px solid $brand-primary-light;
		&:focus, &:hover {
			color: #fff;
		}
		&:last-of-type {
			border-right: 0;
		}
	}
	&__nav {
		@include clearfix;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		margin: 0;
		z-index: 9;
	}
	&__icon {
		position: relative;
		display: block;
		color: #fff;
		padding: $spacer-xs;
		background-color: $brand-second;
		line-height: 1;
		width: 35px;
		height: 35px;
		&:hover {
			background-color: #fff;
			color: $brand-second;
		}
	}
	&__search,
	&__hamburger {
		float: left;
		position: relative;
	}
	&__search {
		padding-right: $spacer-xs;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}

// Sidebar menu

.sidebar-menu {
	@include clearfix;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background: #fff;
	margin: 0;
	padding: $spacer-md 0 $spacer-xs 0;
	transform: translateY(-172px);
    transition: transform .3s;
    background-color: $gray-lighter;
    li {
    	float: left;
    	padding: 0 $spacer-xs;
    	min-width: 320px;
    	a {
    		position: relative;
    		display: block;
    		background-color: #e8e8e8;
    		padding: $spacer-sm;
    		border: 2px solid #e8e8e8;
    		border-left: 4px solid $brand-second;
    		border-top-left-radius: 4px;
    		border-bottom-left-radius: 4px;
    		box-shadow: 1px 2px 2px rgba(0,0,0, 0.5);
    		padding-right: $spacer-sm;
    		&:hover {
    			.sidebar-menu__subtitle {
    				color: $brand-primary;
    			}
    			&:before {
    				color: $brand-primary;
    			}
    		}
    		&:after {
    			content: '';
    			position: absolute;
    			right: -1px;
    			top: -1px;
    			bottom: -1px;
    			width: $spacer;
    			background-color: #f5f5f5;
    		}
    		&:before {
    			@include transition;
    			content: "\f054";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;
			    color: #dbdcdd;
			    font-size: 15px;
			    position: absolute;
			    top: 50%;
			    right: 6px;
			    transform: translateY(-50%);
			    z-index: 1;
			    line-height: 1;
    		}
    	}
    }
    &__subtitle {
    	@include transition;
    	display: block;
    	font-weight: 300;
    }
    &__submenu {
    	position: relative;
    	padding-bottom: $spacer-sm;
    	&:before, &:after {
    		content: '';
    		position: absolute;
    		top: 0;
    		bottom: 20px;
    		width: 55px;
    		z-index: 1;
    	}
    	&:before {
			left: 0;
    		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
			background: -moz-linear-gradient(left,  rgba(232,232,232,1) 0%, rgba(232,232,232,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(232,232,232,1) 0%,rgba(232,232,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(232,232,232,1) 0%,rgba(232,232,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    	}
    	&:after {
    		right: 0;
			background: -moz-linear-gradient(right,  rgba(232,232,232,1) 0%, rgba(232,232,232,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(right,  rgba(232,232,232,1) 0%,rgba(232,232,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to left,  rgba(232,232,232,1) 0%,rgba(232,232,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

    	}
    }
    .mCSB_container {
		padding-bottom: 2px;
	}	
}

#page-wrapper {
    transition: transform .3s;
    &.sidebar-active {
    	transform: translateY(172px);
    }
}