.timeline {
    &__element {
        position: relative;
        padding-left: $spacer;
        margin-bottom: $spacer;
        &:before {
            background: $gray-lighter;
            border-radius: 2px;
            bottom: -$spacer;
            content: "";
            height: 100%;
            left: 6px;
            position: absolute;
            width: 4px;
        }
        &:after {
            background: #fff;
            border: 2px solid $brand-second;
            border-radius: 50%;
            box-shadow: 0 0 15px #fff;
            content: "";
            height: 15px;
            left: 0;
            position: absolute;
            top: 7px;
            width: 15px;
        }
    }
    &__header {
        
    }
}