.form-control {
	color: $brand-primary;
    border-radius: 0;
	&:focus {
		color: inherit;
	}
}

.form {
    &-inner {
        margin-left: -($grid-gutter-width-base)/2;
        margin-right: -($grid-gutter-width-base)/2;
    }
    &-row {
        @include clearfix;
    }
    &-group {
        float: left;
        width: 50%;
        padding-left: $grid-gutter-width-base/2;
        padding-right: $grid-gutter-width-base/2;
        &--wide {
            width: 100%;
        }
    }
    &-label {
        font-weight: 400;
    }
    &-control {
        @include transition;
    }
    textarea {
        height: $textarea-height;
        resize: none;
    }
    .textarea-signs {
        text-align: right;
        padding: 5px 0;
    }
}

//- Style dla widgetu selectmenu
.ui-selectmenu-button {
    background-color: transparent;
    border-radius: 0;
    padding: $input-padding-y $input-padding-x;
    line-height: $input-line-height;
    border-color: $input-border-color;
    span.ui-selectmenu-text {
        padding: 0;
        font-size: $font-size-base;
        font-family: $font-family-sans-serif;
    }
    //- Dodanie animacji strzałki [rozwinięcia,zwinięcia]
    .ui-icon {
        background: none;
        text-indent: 0;
    }
}
.ui-selectmenu-menu {
    box-shadow: 0px 2px 5px #ebebeb;
    .ui-menu-item {
        padding: $input-padding-y $input-padding-x;
        border: 0;
        &.ui-state-focus {
            background-color: #f6f6f6;
            border: 0;
            margin: 0;
        }
    }
}

//- Style dla widgetu dialog
.ui-dialog {
    &--simple {
        border-radius: 0;
        .ui-dialog-content {
            height: 150px !important; /* Konieczność nadpisania dziwnego zachowania setHeight z pluginu */
            padding-right: 0;
        }
    }
}