.info-box {
	padding: 15px;
	@include media-breakpoint-down(sm) {
		padding: 15px 5px;
	}
	&__inner {
		border: 1px solid $brand-second;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
		transition: box-shadow 0.3s ease-in-out;
		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
		}
	}
	&__image {
		border-bottom: 1px solid $brand-second;
		overflow: hidden;
	}
	&__content {
		padding: $spacer-sm;
	}
	&__title {
		font-weight: 300;
		padding-bottom: $spacer-sm;
		border-bottom: 1px solid $gray;
	}
	&__description {
		font-weight: 300;
		text-align: justify;
	}
}
