.breadcrumbs {
    @include clearfix;
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    &__item {
        text-align: left;
        float: left;
        cursor: default;
        padding: $spacer-sm 0;
        color: $brand-second;
        &::first-letter {
            text-transform: capitalize;
        }
        &:after {
            content: "\f105";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            font-size: 14px;
            display: inline-block;
            padding: 0 5px;
            color: $brand-primary;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        @include media-breakpoint-down(sm) {
            &:after {
                color: #fff;
            }
        }
        a {
            @include media-breakpoint-down(sm) {
                color: #fff;
            }
            &:hover {
                color: $brand-second;
            }
        }
    }
}
