.nav-bar {
	display: block;
	background-color: $brand-primary;
	border-bottom: 3px solid $brand-second;
	&__source {
		@include transition;
		position: relative;
		padding: $spacer 0;
		border-radius: $border-radius;
		&--active {
			border-bottom: 0;
		}
	}
	&__title,
	&__subtitle {
		color: #fff;
		margin: 0;
		font-weight: 300;
	}
	&__subtitle {
		font-family: $font-family-sans-serif;
		font-size: 1.6rem;
		padding-top: $spacer-xs;
		margin-left: -$spacer-xs;
	}
	&__sneakpeak {
		@include text-decoration;
		color: $gray;
	    padding: .5rem 1rem 1rem;
		border-right: 1px solid $brand-primary-light;
		&:focus, &:hover {
			color: #fff;
		}
		&:last-of-type {
			border-right: 0;
		}
	}
	&__nav {
		@include clearfix;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		margin: 0;
		z-index: 9;
	}
	&__icon {
		position: relative;
		display: block;
		color: #fff;
		padding: $spacer-xs;
		background-color: $brand-second;
		line-height: 1;
		width: 35px;
		height: 35px;
		&:hover {
			background-color: #fff;
			color: $brand-second;
		}
	}
	&__search,
	&__hamburger {
		float: left;
		position: relative;
	}
	&__search {
		padding-right: $spacer-xs;
	}
	&__dropdown {
		position: absolute;
		display: none;
		min-width: 320px;
		max-height: 350px;
		z-index: 9;
		background-color: $gray-lighter;
		top: 77px;
		right: 100%;
		margin-right: -35px;
		border: 1px solid $brand-second;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	}
	&__submenu {
		@include clearfix;
		padding: $spacer;
		li {
			float: left;
			width: 50%;
			padding: $spacer-xs 5px;
			text-align: center;
			i {
				display: block;
				margin: 0 auto;
				font-size: $font-size-h1;
				color: #fff;
				padding: 10px 0 14px 0;
			}
			a {
				display: block;
				border: 1px solid $brand-second;
				background-color: $brand-primary;
				&:hover {
					text-decoration: none;
				}
			}
			span {
				display: block;
				padding-top: $spacer-xs;
				color: #fff;
				background-color: $brand-second;
				padding: 5px;
			}
		}
	}
	&__divider {
		width: 100%;
		padding: 0 $spacer;
		hr {
			margin: 0;
		}
	}
}