mixin section-header(sectionTitle, sectionSubtitle)
	header.component.section-header
		h2.section-header__title(data-section-number=sectionCounter)!=sectionTitle
		h3.section-header__subtitle=sectionSubtitle
