.component.address-box
    .address-box__inner
        h5.address-box__title Adres firmy
        h6.address-box__company-name F.H.U. Bałtex
        ul.list-unstyled.address-box__list
            li.address-box__list-element
                | 2901 Marmora Road, Glassgow, Seattle, WA 98122-1090
            li.address-box__list-element
                | Telephone: +1 1234-567-89000
            li.address-box__list-element
                | FAX: +1 0123-4567-8900
            li.address-box__list-element
                | E-mail:&nbsp;
                a(href="#", class="address-box__list-anchor") mail@companyname.com
            li.address-box__list-element
                | Website:&nbsp;
                a(href="#", class="address-box__list-anchor") www.yoursitename.com
