.component.cta-box
    .cta-box__inner
        .cta-box__column.cta-box__column--wide
            h2.cta-box__title Czy jesteś zainteresowany Naszymi&nbsp;usługami?
            p.cta-box__description Jeśli masz jakieś pytania, wypełnij #[a(href="kontakt", title="Link przekierowujący do formularza kontaktowego", class="link link--motive") formularz kontaktowy], zadzwoń lub napisz e-mail.
        .cta-box__column.cta-box__column--short
            .cta-box__button
                a(href="kontakt", title="Przejdź do strony kontaktowej", class="btn btn-lg btn-second") Skontaktuj się z Nami
