footer.footer
	.container
		.row
			.col-md-3

			.col-md-5
				.widget.widget--footer
					.widget-inner
						h5.widget_title Informacje kontaktowe	
			.col-md-4
				.widget.widget--footer
					.widget-inner
						h5.widget_title Firma Bałtex
						ul.list-unstyled
							li: a(href="#", title="Transport międzynarodowy") Transport międzynarodowy
							li: a(href="#", title="Sprzedaż tarcicy") Sprzedaż tarcicy
							li: a(href="#", title="Magazyn czasowego składowania") Magazyn czasowego składowania
							li: a(href="#", title="Faq") FAQ		
							li: a(href="#", title="Kontakt") Kontakt