footer.footer
	.container
		.row
			.col-sm-12.col-md-6.col-lg-4
				.widget.widget--footer
					.widget-inner
						h5.widget__title O firmie Bałtex
						p.widget__description Prowadzimy swoją działalność od roku 1994. Pierwszą branżą był transport międzynarodowy. Z&nbsp;czasem firma ewoluowała i zaczęłą również inwestować w magazyn czasowego składowania. Od&nbsp;niedawna zajmujemy się również sprzedażą suchej tarcicy dąb - sosna.
			.col-sm-12.col-md-6.col-lg-4
				.widget.widget--footer
					.widget__inner
						h5.widget__title Najczęściej odwiedzane
						ul.list-unstyled.list--arrowed
							li: a(href="transport-miedzynarodowy", title="Transport międzynarodowy") 
								i.fa.fa-caret-right(aria-hidden='true')
								span Transport międzynarodowy
							li: a(href="sprzedaz-tarcicy", title="Sprzedaż tarcicy") 
								i.fa.fa-caret-right(aria-hidden='true')
								span Sprzedaż tarcicy
							li: a(href="magazyn-czasowego-skladowania", title="Magazyn czasowego składowania") 
								i.fa.fa-caret-right(aria-hidden='true')
								span Magazyn czasowego składowania
							li: a(href="najczesciej-zadawane-pytania", title="Faq") 
								i.fa.fa-caret-right(aria-hidden='true')
								span FAQ		
							li: a(href="kontakt", title="Kontakt") 
								i.fa.fa-caret-right(aria-hidden='true')
								span Kontakt
			.col-sm-12.col-md-6.col-lg-4
				.widget.widget--footer
					.widget__inner
						h5.widget__title Informacje kontaktowe
						address.address
							.address__item
								code Telefon
								a(href="tel:123456789") 123-456-789
							.address__item
								code Fax
								span 012-345-678
							.address__item
								code E-mail
								a(href="mailto:testow@testowy.com.pl") testowy@testowy.com.pl
							.address__item
								code Siedziba
								span(data-toggle="modal", data-target="#google-maps-direction") ul. Długowola 232, 27-300 Lipsko, Polska
	.footer-post
		.container
			.row
				.col-xs-12
					.footer-post__inner
						.footer-post__brand
							p &copy; 2016 F.H.U. Bałtex. Wszystkie prawa zastrzeżone.
						.footer-post__list
							ul.list-unstyled
								li.footer-post__element
									a(href="polityka-cookies", title="Polityka cookies", class="footer-post__anchor link") Polityka cookies
								li.footer-post__element
									a(href="mapa-strony", title="Mapa strony", class="footer-post__anchor link") Mapa strony
	+bs-modal(
		'google-maps-direction',
		'',
		'',
		'google-maps-direction',
		'<strong> Lokalizacja firmy Bałtex </strong> na google maps.',
		'button btn btn-secondary js-btn-modal-close',
		'Rezygnuję',
		'Jeśli chcesz wyznaczyć trasę pomiędzy wybraną przez Ciebie lokalizacją, a Naszą firmą wypełnij wymagane pole znajdujące się poniżej, a następnie kliknij przycisk <em>Wyznacz trasę</em>. Aby przedstawić Ci ją w jak najlepszej formie, aplikacja google-maps otworzy się w nowej zakładce.'
	)
