.social-bar
    .social-bar__inner
        ul.list-unstyled.social-bar__list
            li.social-bar__element
                a(href="#", title="Udostępnij stronę na Facebooku", data-tooltipster='{"side":"left","animation":"fade"}', class=" tooltipster social-bar__anchor social-bar__anchor--fb", rel="nofollow")
                    i.fa.fa-facebook(aria-hidden="true")
            li.social-bar__element
                a(href="#", title="Udostępnij stronę na Twitterze", data-tooltipster='{"side":"left","animation":"fade"}', class="tooltipster social-bar__anchor social-bar__anchor--tw", rel="nofollow")
                    i.fa.fa-twitter(aria-hidden="true")
            li.social-bar__element
                a(href="https://plus.google.com/share?url=", title="Udostępnij stronę na Google+", data-tooltipster='{"side":"left","animation":"fade"}', class="tooltipster social-bar__anchor social-bar__anchor--gp", rel="nofollow")
                    i.fa.fa-google-plus(aria-hidden="true")
